input[type=range] {
    appearance: none;
  }
  
    input[type=range]::-moz-range-track {
      border-radius: 0px;
      height: 13px;
	  border: 1px solid black;
      background-color: white;
    }
    input[type=range]::-moz-range-thumb {
    	background: white;
      
    	border: 1px solid black;
        border-radius: 0px;
    	cursor: pointer;
    }
    input[type=range]::-webkit-slider-runnable-track {
      border-radius: 0px;
      height: 15px;
      margin-bottom: -1px;
	  border: 1px solid black;
      background-color: white;
    }
    input[type=range]::-webkit-slider-thumb {
      background: white;
      border: 1px solid black;
      border-radius: 0px;
      cursor: pointer;
      width:15px;
      height: 15px;
      -webkit-appearance: none;
      margin-top: -1px;
      margin-left:-1px;
    }