.menu {
    margin-top: -555px;
   margin-left: 350px;
   width: 30%;
}
.gain-range{
    width: 90%;
}
button {
    height: 100px;
    width: 40%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    margin-right: 10%;
    background-color: white;
}
